.capter{
    text-align: center;
    color: #979797;
    font-size: 1rem;
    font-weight: 100;
}
.read-paragraph{
    font-family: 'Open sans';
    font-size: 1.125rem;
    color: #222;
    margin: 10px 0;
}